@import '../common/heavy-shadow';
@import '../common/link-color';
@import '../common/mild-shadow';

// Inline code and code blocks
pre, code {
  background: #234;
  color: white;
  font-family: 'Inconsolata', monospace;
}

// Inline code (we overwrite this for code blocks below)
code {
  @include mild-shadow;
  border-radius: (1em / 8);
  padding: 0 .2em;
  margin: 0 (1em / 16);
}

// Inline code within links
//
// Links are already underlined, but we want the underline
// to be the same color as the code itself.
a code { text-decoration: underline }
a:hover code { text-decoration: none; }

// Code blocks
pre {
  @include heavy-shadow;
  border-radius: (3em / 16);
  overflow-x: scroll;
  padding: 7px 9px;    
  margin: 20px 0;


  @include on-very-small-screens {
    font-size: 80%;
  }
}

pre > code {
  box-shadow: none;
  border-radius: 0;
  padding: 0;
}
