@import '../common/heading-color';
@import '../common/heading-font-family';

dl {
  margin-top: 15px; 

  dt {
    color: $heading-color;
    font-family:  $heading-font-family;
    font-weight: bold;
  }

  dd {
    margin-left: 20px;

    dd { margin-left: 40px; }    
  }
    
  // Without some extra spacing, consecutive description lists appear merged together.
  + dl { margin-top:  45px }
}
