@import '../common/body-font-family';
@import '../common/link-color';
@import '../common/example-input-shading';
@import '../common/default-example-input-shading';

// This is mostly taken from Stackoverflow's <kbd> styling.
kbd {
  @include default-example-input-shading;
  
  border-width: (1em / 8);
  border-style: solid;
  border-radius: (1em / 4);
  display: inline-block;
  font-family: $body-font-family;
  font-size: 70%;
  line-height: 1.4;
  margin: 0 .1em;
  padding: .1em .6em;
  text-shadow: 0 (1em / 10) 0 white;
  white-space: nowrap;
}

// Example input within links
//
// We don't need to worry about removing the underline, because
// `display: inline-block` above) takes care of that for us.
a kbd {
  @include example-input-shading(
    $text-color: $link-color,
    $background-color: mix($link-color, white, 10%),
    $border-color: $link-color,
    $shadow-color: rgba($link-color, 0.3));
}
