@import 'common/link-color';
@import 'common/example-input-shading';

// This is mostly taken from Stackoverflow's <kbd> styling.
kbd {
  @include example-input-shading(
    $text-color: #444,
    $background-color: #eee,
    $border-color: #aaa,
    $shadow-color: rgba(#0d0d0d, 0.2));
  
  background-color: #eee;
  border-width: (1em / 12);
  border-style: solid;
  border-radius: (1em / 4);
  color: #444;
  display: inline-block;
  font-family: sans-serif;
  font-size: 70%;
  line-height: 1.4;
  margin: 0 .1em;
  padding: .1em .6em;
  position: relative;
  text-shadow: 0 (1em / 10) 0 white;
  top: (-1em / 8);
  white-space: nowrap;
}

// Example input within links
//
// We don't need to worry about removing the underline, because
// `display: inline-block` above) takes care of that for us.
a kbd {

  @include example-input-shading(
    $text-color: $link-color,
    $background-color: mix($link-color, white, 20%),
    $border-color: $link-color,
    $shadow-color: rgba($link-color, 0.3));
}
