@import '../common/link-color';
@import '../common/heading-color';
@import '../common/heading-selector';

mark {
  background-color: yellow;
  color: inherit;
  padding: (1em / 16);
}

// Table headers use white text, and they use the heading color for
// their background. Considering highlighting is yellow, we'll need
// to increase the contrast.
th mark {
  color: $heading-color;
}
