@import '../common/heading-selector';

small {
  font-size: 100%;
  opacity: .5;
}

#{$heading-selector} {
  small:last-child { white-space: nowrap }
}

#{$heading-selector}, th, mark, a {
  small {
    font-size: 80%;
    opacity: 1;      
  }
}
