@import 'common/faux-button';

@keyframes reveal {
  0% { opacity: 1; }
  30% { opacity: .5 }  
  100% { opacity: 1 }
}

// Inline revealables and revealable blocks
.up-revealable {
  > label { @include faux-button }

  > input[type="radio"] {
    display: none;

    ~ span,
    ~ div { display: none }

    &.up-hide:checked + label { display: none }

    &.up-reveal:checked {
      + label { display: none }

      ~ span,
      ~div { animation: 1s reveal }

      ~ span { display: inline }
      ~ div { display: block }
    }
  }

  > div { margin-left: 35px }
}

// Inline revealables
span.up-revealable > label {
  font-size: 65%;
  margin: 0 5px;
  padding: 4px 12px 3px 12px;
}

// Revealable blocks
div.up-revealable > label {
  display: inline-block;
  font-size: 75%;
  margin: 10px 0;
  padding: 7px 12px 5px 12px;
}
