@import '../common/heading-color';
@import '../common/heading-font-family';
@import 'common/on-very-small-screens';


table {
  border-collapse: collapse;
  margin: 20px 0;

  @include on-very-small-screens {
    font-size: 80%;
  }

  caption {
    padding-bottom: 10px;
    font-style: italic;
  }

  tbody tr {
    &:hover {
      background-color: #ddd;
      td { border-color: #aaa }
    }
    
    &:nth-child(even) {
      background-color: #eee;

      &:hover {
        background-color: #ccc;
        td { border-color: #999 }
      }
    }
  }

  td, th {
    padding: 10px;
    border: 1px solid #bbb;

    &.up-numeric {
      text-align: right;
    }

    &[colspan] {
      text-align: center;
    }
  }

  th {
    border-color: lighten($heading-color, 20%);
    background-color: $heading-color;
    color: white;
    font-family: $heading-font-family;
    font-weight: normal;
    
    // When tables have a header column, their header row starts
    // with an empty cell. This cell should be invisible.
    &:first-child:empty {
        background: transparent;
        border-top: 0;
        border-left: 0;
    }
  }
}
