@import '../common/heading-color';
@import '../common/heading-font-family';
@import 'common/media-queries/on-very-small-screens';


table {
  border-collapse: collapse;
  margin: 20px 0;

  @include on-very-small-screens {
    font-size: 80%;
  }

  caption {
    padding-bottom: 10px;
    font-style: italic;
  }

  tbody tr {
    &:hover {
      td { background: #ddd }
    }

    &:nth-child(even) {
      td { background-color: #eee }

      &:hover {
        td { background-color: #ccc }
        td { border-color: #999 }
      }
    }
  }

  td, th {
    padding: 10px;
    border: 1px solid #bbb;

    &.up-numeric {
      text-align: right;
    }

    &[colspan] {
      text-align: center;
    }
  }

  th {
    border: 0;
    color: $heading-color;
    font-family: $heading-font-family;

    &[scope="row"] { text-align: right }
  }
}
