hr  {
  margin: 8px 0 45px 0;
  padding-bottom: 8px;
  border: none;
  text-align: center;
}

hr:after {
  content: '...';
  letter-spacing: 25px;
  color: #ccc;
  font-size: 40px;
}

@media speech, braille {
  hr:after {
    content: none;
  }
}