body {
  display: flex;
  flex-flow: wrap row-reverse;
  min-height: 100vh;
}

#editorContainer {
  flex-basis: 400px;  
  flex-grow: 1;
}

#renderedDocumentContainer {
  flex-basis: 500px;
  flex-grow: 2;
  background: yellow;
}