/* Initially, we assume we're dealing with a narrow screan. */

body {
  display: flex;
  flex-flow: wrap column;
  height: 100vh;
}

#table-of-contents-container {
  display: none
}

@mixin dirty {
  opacity: 0.5;
	transition: 0.5s;
}

@keyframes clean {
  0% { @include dirty }
  100% { opacity: 1 }
}

.dirty, {
	@include dirty;
}

.clean {
	animation: 0.2s clean;
}

/* TODO: Clean up */

#document-container,
#editor-container {
  overflow-y: scroll;
}

#document-container,
#editor-container {
  max-width: 100vw;
}

#document-container {
  background: lightblue;
  flex-basis: 40%;
  flex-grow: 2.5;
  padding: 0 15px;
}

#editor-container {
  flex-basis: 60%;
  flex-grow: 1;
}

$min-document-width: 400px;
$min-editor-width: 450px;

// If we have enough room to show the editor and the document side-by-side...
@media (orientation: landscape) and (min-width: $min-document-width + $min-editor-width) {
  body {
    flex-direction: row-reverse;
  }

  #document-container {
    flex-basis: $min-document-width;
    height: 100vh;
  }

  #editor-container {
    flex-basis: $min-editor-width;  
    flex-grow: 1;

    .CodeMirror {
      height: 100vh;
    }
  }
}
