// Example input
kbd {
  background-color: #eee;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: 0 2px 0 rgba(13, 13, 13, 0.2), 0 0 0 2px #fff inset;
  color: #444;
  display: inline-block;
  font-family: sans-serif;
  font-size: 11px;
  line-height: 1.4;
  margin: 0 .1em;
  padding: .1em .6em;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap;
}

// Revealable content
.up-revealable {
  > label {
    // TODO
    background: red;
  }

  > input[type="checkbox"] {
    display: none;

    + span,
    + div { display: none }

    &:checked {
      + span { display: inline }
      + div { display: block }
    }
  }
}
