$horizontal-document-padding: 15px;
$link-color: #09d;$heading-color: #484;
$headings: 'h1, h2, h3, h4, h5, h6';


#document-container {
  font-family: 'Muli', sans-serif;
  line-height: 1.3em;
  padding: 0 $horizontal-document-padding;
  
  
  // Links
  a {
    border-bottom: dotted 2px $link-color; 
    color: $link-color;
    text-decoration: none;

    &:hover {
      background-color: lighten($link-color, 50%)
    }
  }

  // Bold, stress
  b, strong {
    text-shadow: 0px 0px 0px;
  }

  // Headings
  #{$headings} {
    font-family: 'Ovo', serif;
    color: $heading-color;
  }
  
  h1 {
    color: white;
    background: $heading-color;
    padding: 25px 5px 40px $horizontal-document-padding;
    margin: 25px (-$horizontal-document-padding);

    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);

    &:first-child {
      margin-top: 0;
    }
  }

  // Parentheticals
  small {
    font-size: 100%;
    opacity: .5;
  }

  // Normally, we fade parenthetical text.
  //
  // However, when we're within elements with colored text, we shrink
  // parentheticals instead.
  #{$headings}, a {
    small {
      font-size: 80%;
      opacity: 1;      
    }
  }

  // Inline code and code blocks
  pre, code {
    background: #234;
    color: white;
    font-family: 'Inconsolata', monospace;
  }

  // Code blocks
  //
  // The box shadow is originally from here:
  //
  // https://medium.com/@Florian/freebie-google-material-design-shadow-helper-2a0501295a2d
  pre {
    border-radius: 3px;
    box-shadow:
      0 3px 6px rgba(0, 0, 0, 0.16),
      0 3px 6px rgba(0, 0, 0, 0.23);
    overflow-x: scroll;
    padding: 7px 9px;    
  }

  // Inline code (we overwrite this for code blocks below)
  code {
    border-radius: 2px;
    box-shadow:
      0 1px 3px rgba(0, 0, 0, 0.12),
      0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 0 .2em;
  }
  
  // Inline code within links
  a code {
    color: #8df;
  }

  // Code blocks
  pre > code {
    box-shadow: none;
    border-radius: 0;
    padding: 0;
  }

  // Thematic breaks
  hr  {
    padding: 30px 0;
    border: none;
    text-align: center;
  }
  
  hr:after {
    content: "⋯";
    color: #888;
    font-size: 400%;
}

  // Example input
  //
  // This is based heavily on the <kbd> style used by stackoverflow.
  kbd {
    background-color: #eee;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow:
      0 2px 0 rgba(13, 13, 13, 0.2),
      0 0 0 2px white inset;
    color: #444;
    display: inline-block;
    font-family: sans-serif;
    font-size: 11px;
    line-height: 1.4;
    margin: 0 .1em;
    padding: .1em .6em;
    text-shadow: 0 1px 0 white;
    white-space: nowrap;
  }
  
  // Example input within links
  a kbd {
    background-color: lighten($link-color, 50%);
    color: $link-color;
    border-color: $link-color
  }

  // Highlighting
  //
  // Based on this answer on stackoverflow:
  //
  // http://stackoverflow.com/a/33452034
  mark {
    $highlight-marker-color: yellow;

    background-color: transparent;
     text-shadow: 
      -4px 0px 4px $highlight-marker-color,
      4px 0px 4px $highlight-marker-color,
      8px 0px 6px $highlight-marker-color,
      -8px 0px 6px $highlight-marker-color;
  }

  // Highlighting inside of links
  a mark {
    color: $link-color;
  }

  // Inline quotes
  q { quotes: '“' '”' "‘" "’" }
  
  q:before { content: open-quote }
  q:after { content: close-quote }

    // Tables
  table {
    border-collapse: collapse;
    margin: 20px;

    caption {
      padding-bottom: 10px;
      font-style: italic;
    }

    tbody tr {
      &:hover {
        background-color: #ddd;
        td { border-color: #aaa }
      }
      
      &:nth-child(even) {
        background-color: #eee;

        &:hover {
          background-color: #ccc;
          td { border-color: #999 }
        }
      }
    }

    td, th {
      padding: 10px;
      border: 1px solid #bbb;

      &.up-numeric {
        text-align: right;
      }

      &[colspan] {
        text-align: center;
      }
    }

    th {
      background-color: #bbb;
      border-color: #888;

      // When tables have a header column, their header row starts
      //  with an empty cell.
      &:empty:first-child {
        background: transparent;
        border-top: 0;
        border-left: 0;
      }
    }
  }

  // Line blocks
  .up-lines {
    text-align: center
  }

  // Revealable content
  .up-revealable {
    > label {
      // TODO
      user-select: none;
      background: red;
    }

    > input[type="checkbox"] {
      display: none;

      + span,
      + div { display: none }

      &:checked {
        + span { display: inline }
        + div { display: block }
      }
    }
  }
}