@import 'document/common/horizontal-document-padding';

#document-container {
  font-family: Roboto, sans-serif;
  line-height: 1.3em;
  padding: 0 $horizontal-document-padding;
  
  @import 'document/blockquote.scss';
  @import 'document/bold-and-stress.scss';
  @import 'document/code-blocks-and-inline-code.scss';
  @import 'document/description-list.scss';
  @import 'document/emphasis-and-italics.scss';
  @import 'document/example-input.scss';
  @import 'document/heading.scss';
  @import 'document/highlight.scss';
  @import 'document/inline-quote.scss';
  @import 'document/line-block.scss';
  @import 'document/link.scss';
  @import 'document/unordered-list.scss';
  @import 'document/ordered-list.scss';
  @import 'document/parenthetical.scss';
  @import 'document/revealable.scss';
  @import 'document/table.scss';
  @import 'document/thematic-break.scss';
}
