body {
  display: flex;
  flex-flow: wrap row-reverse;
  height: 100vh;
}

#editor-container,
#table-of-contents-container,
#documentation-container {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

#rendering-container {
  border-left: 1px solid #aaa;
  flex-basis: 0;
  flex-grow: 1.35;
  
  // Setting `overflow-y` to anything but `visible` prevents wide elements
  // within the documentation from widening *this* element.   
  overflow-y: auto;

  #documentation-container {
    height: 100vh;
  }

  #table-of-contents-container {
    display: none;
    height: 100vh;
  }
}

#editor-container {
  flex-basis: 0;
  flex-grow: 1;
    
  .CodeMirror {
    height: 100vh;
  }
}
