$tab-list-height: 44px;

body {
  display: flex;
  flex-flow: wrap row-reverse;
  height: 100vh;
}

#editor-container {
  border-right: 1px solid #aaa;
  flex-basis: 460px;
  flex-grow: .1;
    
  .CodeMirror { height: 100vh }
}

#non-editor-container {
  flex-basis: 0;
  flex-grow: 1;
  height: 100vh; 
  
  div[role="tablist"] {
    align-items: center;
    display: flex;
    height: $tab-list-height;
  }

  #tab-panel-container {
    // Setting `overflow-y` to anything but `visible` prevents wide elements
    // within the documentation from widening this element.   
    overflow-y: auto;
    height: calc(100vh - #{$tab-list-height});

    #documentation-container,
    #table-of-contents-container {
      overflow-x: hidden;
    }

    #documentation-container {
      max-width: 700px;
      margin: 0 auto;
    }

    #table-of-contents-container { display: none }
  }
}

#editor-container,
#non-editor-container {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

@media only screen and (max-width: 980px) {
  #editor-container { display: none }
}
