@import 'common/on-small-screens';
@import 'common/on-very-small-screens';

body {
  display: flex;
  flex-flow: wrap row-reverse;
  height: 100vh;
}

#editor-container {
  border-right: 1px solid #aaa;
  flex-basis: 460px;
  flex-grow: .1;
    
  .CodeMirror { height: 100vh }
}

#non-editor-container {
  flex-basis: 0;
  flex-grow: 1;
  height: 100vh; 

  $top-bar-height: 44px;
  
  div[role="tablist"] {
    align-items: center;
    display: flex;
    height: $top-bar-height;
  }

  #tab-panel-container {
    // Setting `overflow-y` to anything but `visible` prevents wide elements
    // within the documentation from widening this element.   
    overflow-y: auto;
    height: calc(100vh - #{$top-bar-height});

    #documentation-container,
    #table-of-contents-container {
      overflow-x: hidden;
    }

    #documentation-container {
      max-width: 700px;
      margin: 0 auto;
    }

    #table-of-contents-container { display: none }
  }
}

#editor-container,
#non-editor-container {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}


@include on-small-screens {
  #editor-container { display: none }
  #tab-panel-container { height: 100% }
}

@include on-very-small-screens {
   body { font-size: 90% }
}
