@import 'common/heading-color';

nav {
  @import 'table-of-contents';

  background-color: $heading-color;

  // The button for toggling the visibility of the table of contents
  // uses the same HTML rendered by revealable blocks.   
  .up-revealable {
    label {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    > input[type="radio"].up-reveal:checked {
      ~ span,
      ~div { animation: none }
    }

    > div {
      margin: 0;
    }
  }
}