@import 'common/heading-color';
@import 'common/faux-button';

div[role="tablist"] {
  background-color: $heading-color;

  span[role="tab"] {
    @include faux-button;

    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

    &[aria-selected="true"] { display: none }    
  }
}
