@import 'common/link-color';
@import 'common/faux-button';

#tab-container {
  background-color: $link-color;
  display: flex;
  justify-content: center;

  span[role="tab"] {
    @include faux-button;

    &[aria-selected="true"] { display: none }
  }
}
