@import 'common/heading-color';
@import 'common/faux-button';

#tab-container {
  background-color: $heading-color;
  display: flex;
  justify-content: center;

  span[role="tab"] {
    @include faux-button;

    &[aria-selected="true"] { display: none }    
  }
}
