@import 'common/heading-selector';
@import 'common/default-example-input-shading';
@import 'common/media-queries/on-very-small-screens';

@function entry-indentation($level, $indent-per-level:  30px) {
  // Level 1 headings are centered, so they don't need to be indented.
  @return if($level == 1,
    0,
    ($level - 2) * $indent-per-level);
}

// We use the same indentation for headings level 11 and up.
$max-indent-level: 11;

// Small screens don't have enough room for our default indentation.
$indent-per-level-on-very-small-screens: 20px;

#table-of-contents {
  user-select: none;

  a {
    color: black;
    display: inline-block;
    width: 100%;
    text-decoration: none;

    &:hover { text-decoration: underline }
  }

  // Normally, we style example input differently if it's within a link.
  //
  // In the table of contents, everything is a link, so there's no need.
  kbd { @include default-example-input-shading }

  // The same logic applies for inline code.
  code { text-decoration: none }

  // Our table of contents is full of parentheticals! Every heading for
  // every member of the API ends with parenthetical text, typically
  // either "(class)" or "(heading)".
  //
  // We don't need all that clutter.  
  small { display: none }

  // That being said, nearly all of the headings described above have
  // levels 3 and up.
  //
  // We won't clutter the table of contents by displaying parenthetical
  // text in top-level or second-level headings.
  h1, h2 {
    small { display: inline }
  }

  #{$heading-selector} {
    font-weight: normal;
    font-size: 100%;
    margin: 0;
    padding: 3px 0 0 0;

    a {
      padding-left: entry-indentation($max-indent-level);

      @include on-very-small-screens {
        padding-left: entry-indentation($max-indent-level, $indent-per-level-on-very-small-screens)
      }
    }
  }

  @for $level from 1 through ($max-indent-level - 1) {
    $selector-for-this-heading-level:
      if($level <= 6,
        'h#{$level}',
        '[aria-level="#{$level}"]');

    #{$selector-for-this-heading-level} a {
      padding-left: entry-indentation($level);

      @include on-very-small-screens {
        padding-left: entry-indentation($level, $indent-per-level-on-very-small-screens)
      }
    }
  }

  h1 a {
    padding-top: 22px;
    padding-bottom: 6px;
  }

  h2 a { padding-top: 7px }

  h1, h2 { font-weight: bold }
}
