@import 'common/heading-color';
@import 'common/heading-selector';

@function entry-indentation($level) {
  $base-indent: 5px;
  $indent-per-level: 40px;

  @return $base-indent + ($indent-per-level * ($level - 1)); 
}

// We use the same indentation for headings level 11 and up.
$max-indent-level: 11;

#table-of-contents-container {
  background-color: $heading-color;

  a {
    color: white;
    display: inline-block;
    width: 100%;
    border: 0;

    &:hover { background-color: mix(white, $heading-color, 30%) }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #{$heading-selector} {    
    margin: 0;
    padding: 0;
    
    a { padding-left: entry-indentation($max-indent-level) }
  }

  @for $level from 1 through ($max-indent-level - 1) {
    $selector-for-this-heading-level:
      if($level <= 6,
        'h#{$level}',
        '[aria-level="#{$level}"]');

    #{$selector-for-this-heading-level} a {
      padding-left: entry-indentation($level);
      padding-top: 10px / $level;
    }
  }
}