@import 'common/heading-color';
@import 'common/heading-selector';
@import 'common/default-example-input-shading';

@function entry-indentation($level) {
  $indent-per-level: 40px;

  @return $indent-per-level * ($level - 1); 
}

// We use the same indentation for headings level 11 and up.
$max-indent-level: 11;

#table-of-contents-container {
  font-size: 75%;

  a {
    color: white;
    display: inline-block;
    width: 100%;
    border: 0;
    text-decoration: none;

    &:hover { background-color: mix(white, $heading-color, 30%) }
  }

  // Normally, we style example input differently if it's within a link.
  //
  // In the table of contents, everything is a link, so there's no need. 
  kbd {
    @include default-example-input-shading;
  }

  // The same logic applies for inline code.
  code {
    text-decoration: none;
  }

  // Let's increase the contrast! White text on a yellow background is
  // impossible to see.
  mark {
    color: $heading-color;
  }

  #{$heading-selector} {    
    margin: 0;
    padding: 0;
    
    a { padding-left: entry-indentation($max-indent-level) }
  }

  @for $level from 1 through ($max-indent-level - 1) {
    $selector-for-this-heading-level:
      if($level <= 6,
        'h#{$level}',
        '[aria-level="#{$level}"]');

    #{$selector-for-this-heading-level} a {
      padding-left: entry-indentation($level);
      padding-top: 10px / $level;
    }
  }
}