@import '../common/code-font-family';
@import '../common/heavy-shadow';
@import '../common/mild-shadow';

// Inline code and code blocks
pre, code {
  background: #234;
  color: white;
  font-family: $code-font-family;
  font-size: 100% * (7 / 8);
}

// Inline code
code.up-inline-code {
  @include mild-shadow;

  border-radius: (1em / 8);
  font-weight: normal;
  margin: 0 (1em / 16);
  padding: 0 .2em;
  white-space: pre;
}

// Inline code within links
//
// Links are already underlined, but we want the underline
// to be the same color as the code itself.
a code { text-decoration: underline }
a:hover code { text-decoration: none; }

// Code blocks
pre {
  @include heavy-shadow;

  border-radius: (3em / 16);
  line-height: 1.5;
  margin: 20px 0;
  overflow-x: auto;
  padding: 7px 9px;


  @include on-very-small-screens {
    font-size: 85%;
    line-height: 1.4;
  }
}

pre > code {
  box-shadow: none;
  border-radius: 0;
  padding: 0;
}
