@import 'common/heading-selector';

small {
  font-size: 100%;
  opacity: .5;
}

// Normally, we fade parenthetical text.
//
// However, when we're within an element with colored text or a
// colored background, we shrink it instead.
#{$heading-selector}, a {
  small {
    font-size: 80%;
    opacity: 1;      
  }
}