<!doctype html>

<head>
  <meta charset="utf-8">
  <title>Write Up!</title>
</head>

<body>
  <div id="table-of-contents-container" aria-role="alert"></div>
  <main id="document-container" aria-role="alert">
    {{{ htmlWebpackPlugin.options.prerenderedDocumentation }}}
  </main>
  <div id="editor-container"></div>
</body>