<!doctype html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>What's Up?</title>
  <meta name="description" content="Up is a markup language for writing structured documents in plain text. Up supports tables, revealable content (e.g. spoilers), description lists, and more!" />
</head>

<body>
  <div id="documentation-container">
    <div id="tab-container" role="tablist">
      <span aria-controls="table-of-contents" aria-selected="false" id="show-table-of-contents" role="tab" tabindex="0">
        Show table of contents
      </span>
      <span aria-controls="documentation" aria-selected="true" id="show-documentation" role="tab" tabindex="0">
        Hide table of contents
      </span>
    </div>
    <nav aria-labelledby="show-table-of-contents" aria-live="polite" id="table-of-contents" role="tabpanel">
      {{{ htmlWebpackPlugin.options.tableOfContentsHtml }}}
    </nav>
    <main aria-labelledby="show-documentation" aria-live="polite" id="documentation" role="tabpanel">
      {{{ htmlWebpackPlugin.options.documentationHtml }}}
    </main>
  </div>

  <div id="editor-container"></div>
</body>