<!doctype html>

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Write Up!</title>
</head>

<body>
	<div id="non-editor-container">
		<div id="tab-container" role="tablist">
			<span aria-controls="table-of-contents-container" aria-selected="false" id="show-table-of-contents" role="tab" tabindex="0">
        Show table of contents
      </span>
			<span aria-controls="documentation-container" aria-selected="true" id="show-documentation" role="tab" tabindex="0">
        Hide table of contents
      </span>
		</div>
		<div id="tab-panel-container">
			<div id="table-of-contents-container">
				<nav aria-labelledby="show-table-of-contents" aria-live="polite" id="table-of-contents" role="tabpanel">
					{{{ htmlWebpackPlugin.options.tableOfContentsHtml }}}
				</nav>
			</div>
			<div id="documentation-container">
				<main aria-labelledby="show-documentation" aria-live="polite" id="documentation" role="tabpanel">
					{{{ htmlWebpackPlugin.options.documentationHtml }}}
				</main>
			</div>			
		</div>
	</div>

	<div id="editor-container"></div>
</body>