<!doctype html>

<head>
	<meta charset="utf-8">
	<title>Write Up!</title>
	<link href="https://fonts.googleapis.com/css?family=Inconsolata|Roboto+Slab|Roboto" rel="stylesheet">
</head>

<body>
	<div id="rendering-container">
		<div role="tablist">
			<span aria-controls="documentation-container" aria-selected="true" id="hide-toc" role="tab" tabindex="0">Hide table of contents</span>
			<span aria-controls="toc-container" aria-selected="false" id="show-toc" role="tab" tabindex="0">Show table of contents</span>
		</div>
		<nav aria-labelledby="show-toc" aria-live="polite" id="toc-container" role="tabpanel">
			{{{ htmlWebpackPlugin.options.tableOfContentsHtml }}}
		</nav>
		<main aria-labelledby="hide-toc" aria-live="polite" id="documentation-container" role="tabpanel">
			{{{ htmlWebpackPlugin.options.documentationHtml }}}
		</main>
	</div>
	<div id="editor-container"></div>
</body>