<!doctype html>

<head>
	<meta charset="utf-8">
	<title>Write Up!</title>
	<link href="https://fonts.googleapis.com/css?family=Inconsolata|Roboto+Slab|Roboto" rel="stylesheet">
</head>

<body>
	<div id="rendering-container">
		<nav>
			<!-- This is the same HTML that is rendered by revealable blocks-->
			<div class="up-revealable">
				<input checked class="up-hide" id="hide-table-of-contents" name="toggle-table-of-contents" type="radio">
				<label for="hide-table-of-contents" role="button" tabindex="0">Hide table of contents</label>
				<input class="up-reveal" id="reveal-table-of-contents" name="toggle-table-of-contents" type="radio">
				<label for="reveal-table-of-contents" role="button" tabindex="0">Show table of contents</label>
				<div aria-live="polite" id="table-of-contents-container">
					{{{ htmlWebpackPlugin.options.tableOfContentsHtml }}}
				</div>
			</div>
		</nav>
		<main aria-live="polite" id="documentation-container">
			{{{ htmlWebpackPlugin.options.documentationHtml }}}
		</main>
	</div>
	<div id="editor-container"></div>
</body>